<div appProtected class="admin-table-block border shadow">
  <div class="container-fluid">
    <table class="table">
      <thead>
      <tr class="d-flex">
        <th class="col-1"></th>
        <th class="col-3">
          Naam
        </th>
        <th class="col-1">
          Prijs
        </th>
        <th class="col-7">
          Ingredienten
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products" class="d-flex">
        <td class="col-1">
          <img src="{{picture_url + product.picture}}" class="img-thumbnail img-product m-0 p-0">
        </td>
        <td class="col-3">
          {{product.name}}
        </td>
        <td class="col-1">
          {{product.price}}
        </td>
        <td class="col-6">
          <div *ngFor="let ingredient of product.ingredients" class="d-inline">
            {{ingredient}}
          </div>
        </td>
        <td class="col-1">
          <img src="/assets/pictures/minus.png" class="img-count pointer" (click)="remove(product)">
        </td>
      </tr>
      <tr *ngIf="addProduct" class="d-flex">
        <td class="col-1">
          <input type="file" class="form-control-file" (change)="onFileSelected($event)">
        </td>
        <td class="col-3">
          <input type="text" class="form-control" placeholder="Naam" #name>
        </td>
        <td class="col-1">
          <input type="number" class="form-control" placeholder="Prijs" #price>
        </td>
        <td class="col-5">
          <div *ngFor="let ingredient of newProduct.ingredients" class="d-inline">
            {{ingredient}}
          </div>
          <input type="text" class="form-control" placeholder="Ingredienten" #ingredients>
        </td>
        <td>
          <img src="/assets/pictures/plus.png" class="img-count pointer" (click)="addIngredient()">
        </td>
        <td class="col-1"><a class="btn btn-success" (click)="saveProduct()">Opslaan</a></td>
      </tr>
      <tr class="d-flex">
        <td class="col-12">
          <img src="/assets/pictures/plus.png" class="img-count pointer" (click)="onNewProduct()">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
