/* You can add global styles to this file, and also import other style files */
.img-product {
  max-width: 10rem !important;
  height: 10rem !important;
}

.img-infoProduct {
  max-width: 20rem !important;
  height: 15rem !important;
  border-radius: 1rem;
}

.product {
  margin-top: 1rem;
  border-radius: 1rem;
}

.cart {
  max-width: 3rem;
}

.title {
  padding-left: 2rem !important;
}

.margin-column {
  margin: 0 5rem;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  padding-top: 1rem;
}

.align-vertical-center {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
}

.mh-10 {
  max-height: 10rem !important;
}

.img-count {
  max-width: 2rem;
}

.pointer {
  cursor: pointer;
}

.form-spacing {
  margin-top: 1rem;
}

.admin-table-block {
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

::-webkit-scrollbar {
  display: none;
}

.img-thumbnail {
  max-height: 4rem;
}

body {
  background-color: #ffffee !important;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1rem !important;
}

p {
  margin-bottom: 0rem !important;
}

